* {
    margin: 0;      
    padding: 0;      
    box-sizing: border-box;
    font-family: Poppins; 
}

header{
    background-color: rgb(78, 21, 21);
    padding: 20px;
    display: flex;
    align-items: center;
}

#book-design
{
    background-color: rgb(165, 112, 112);
    height: 100px;
    width: 120px;
    position: absolute;
    right: 0px;
    top:85.5vh;
    border-radius: 10px 0px 0px 0px;
}

#book-design1
{
    background-color: blanchedalmond;
    height: 150px;
    width: 120px;
    position: absolute;
    right: -38px;
    top:90vh;
    transform: rotate(52deg);
}

#down-arrow
{
    width: 100%;
    color: blanchedalmond;
    justify-content: center;
    margin-top: 60px;
}

#down-arrow:hover
{
    width: 100%;
    color: blanchedalmond;
    justify-content: center;
    margin-top: 60px;
}

header img{
    width: 95vh;
}

h1{
    color: blanchedalmond;
    font-size: 55px;
    text-align: center;
    background-color: rgb(78, 21, 21);
}

header p{
    background-color: rgb(78, 21, 21);
    color: blanchedalmond;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

header ul
{
    background-color: rgb(78, 21, 21);
    color: blanchedalmond;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    text-decoration: none;
    border-radius: 100%;
    margin: 30px;
}

header ul a
{
    text-decoration: none;
    color: blanchedalmond;
    align-items: center;
}

header nav li
{
    list-style: none;
}

header nav li a
{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap:3px;
}

header nav li a:hover
{
    background-color: blanchedalmond;
    color: rgb(78, 21, 21);
}

main
{
    background-color: blanchedalmond;
    padding: 15px;
}

main h2{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(78, 21, 21);
    font-size: 35px;
}