<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="practice.SequenceCheck"/>
      <class name="practice.SoftAssertionExample"/>
      <class name="practice.HierarchyCheck"/>
      <class name="practice.NewTest"/>
      <class name="practice.AssertExample"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
